@import "tailwindcss";

@layer components {
  .nav-btn {
    @apply hidden lg:inline-flex justify-center items-center px-[2.75rem] py-[0.8125rem] rounded-[0.25rem];
    @apply border border-transparent bg-[#0064C8] text-white;
    @apply text-[1rem] leading-[1.3rem] font-bold tracking-[0.075rem] uppercase;
    @apply cursor-pointer transition-colors duration-300;
  }
  
  .nav-btn:hover {
    @apply bg-[#0055ad];
  }

  .paycom-btn {
    @apply inline-flex justify-center items-center px-[2.75rem] py-[0.8125rem] rounded-[0.25rem];
    @apply border border-transparent bg-[#0064C8] text-white;
    @apply text-[1rem] leading-[1.3rem] font-bold tracking-[0.075rem] uppercase;
    @apply cursor-pointer transition-colors duration-300;
  }
  
  .paycom-btn:hover {
    @apply bg-[#0055ad];
  }

  p {
    @apply text-base leading-[1.8rem];
  }

  h1 {
    @apply text-[2.96875rem] lg:text-[4.0625rem] leading-[2.966875rem] lg:leading-[4.0625rem] font-bold text-[#024731] tracking-[0.0625rem];
  }
  
  h2 {
    @apply text-[#024731] text-[1.34375rem] lg:text-[1.5rem] leading-[1.875rem];
  }

  h3 {
    @apply text-[1.75rem] tracking-[0.0625rem] leading-[2.175rem] lg:text-[2.5rem] font-bold lg:leading-[3.125rem];
  }

  h4 {
    @apply text-[1.46875rem] lg:text-[1.75rem] leading-[1.8125rem] lg:leading-[2.1875rem] font-bold text-[#008542] text-center;
  }

  h5 {
    @apply font-bold text-base mb-[0.0625rem];
  }

  .B-and-C-list, .custom-list {
    @apply space-y-[0.1875rem] mt-[0.3125rem];
  }

  .carousel-heading {
    @apply text-[#008542];
  }

  .p-carousel {
    @apply text-[1.5rem] leading-[1.6875rem] lg:leading-[1.875rem] mb-[0.375rem] mx-auto;
  }

  .p-whats-desktop {
    @apply hidden lg:block;
  }

  .p-whats-mobile {
    @apply lg:hidden block;
  }

  .social-icons {
    @apply w-[2.75rem] h-[2.75rem];
  }

  .footer-logo {
    @apply w-[10.625rem] h-auto;
  }

  .footer-links {
    @apply text-base text-white hover:underline transition;
  }

  .lower-footer-links {
    @apply text-[0.75rem] text-white leading-[1.3125rem] uppercase font-bold;
  }

  .del-img {
    @apply lg:h-[2.1875rem] lg:w-[2.1875rem] h-[2.6875rem] w-[2.6875rem];
  }

  .del-p {
    @apply text-[0.75rem] text-[#3D3D3D] lg:text-[0.875rem] italic leading-[125%];
  }

  .p-copyright {
    @apply text-[0.875rem] mt-[0.1875rem] lg:mt-0 text-[#FFFFFF] leading-[1.5625rem];
  }

  p.top-footer {
    @apply text-[1.5rem] text-white leading-[2.6875rem] font-normal;
  }

  .about-paycom-btn, .job-categories-btn {
    @apply text-white text-[1.125rem] font-bold;
  }

  .link-text {
    @apply text-[#0064C8] underline sm:no-underline sm:text-inherit;
  }
}

h1, h3, .paycom-btn, .nav-btn {
  font-family: "bebas-neue-pro", sans-serif;
}

body {
  font-family: "Open Sans", sans-serif;
  overflow-x: hidden;
}


.custom-list li {
  position: relative;
  padding-left: 20px; 
}
.B-and-C-list li{
position: relative;
  padding-left: 15px; 
}

.B-and-C-list li::before , .custom-list li::before {
  content: url("images/list.svg");
  position: absolute;
  top: -1px; 
  left: 0;
  width: 13px;
  height: 13px;
}


.youtube-video {
  width: 100%;
  height: auto;
}

.hero-section {
  background-color: #EBEBEB;
}

.heading {
  font-family: "bebas-neue-pro", sans-serif;
}


.border-bottom {
   padding-bottom: 8px;
    position: relative; 
    box-shadow: 
        0 1px 0 0 rgba(0, 0, 0, 0.8),
        0 2px 0 0 rgba(255, 255, 255, 0.8);
}

@media (max-width: 901px) {
    body {
        font-size: 1.1rem;
    }
  }