@import "tailwindcss";


@layer components {

    .nav-btn{

    @apply hidden lg:flex justify-center items-center w-[165px] h-[49px] rounded-[4px];
    @apply border border-transparent bg-[#0064C8] text-white;
    @apply text-[16px] leading-[20.8px] font-bold tracking-[1.2px] uppercase;
    @apply cursor-pointer transition-colors duration-300;
  }
  
  .navbtn:hover {
    @apply bg-[#0055ad];
  }

  .paycom-btn {
    @apply flex justify-center items-center w-[165px] h-[49px] rounded-[4px];
    @apply border border-transparent bg-[#0064C8] text-white;
    @apply text-[16px] leading-[20.8px] font-bold tracking-[1.2px] uppercase;
    @apply cursor-pointer transition-colors duration-300;
  }
  
  .paycom-btn:hover {
    @apply bg-[#0055ad];
  }

  p{
    @apply text-base leading-[28.8px];
  }

  h1{
    @apply text-5xl lg:text-6xl leading-[47.47px] lg:leading-[65px] font-bold text-[#024731] tracking-[1px] ;
  }
  
  h2{
    @apply text-[#024731] text-[21.5px] lg:text-2xl leading-[30px]
  }

  h3{
    @apply  text-[31.8px] tracking-[1px] leading-[34.8px]  lg:text-[40px] font-bold lg:leading-[50px]
  }

  h4{
    @apply text-[23.5px] lg:text-[28px] leading-[29px] lg:leading-[35px] font-bold text-[#008542] text-center
  }

  h5{
    @apply font-bold text-base mb-1
  }

  .custom-list{
    @apply space-y-3 mt-5;
  }

  .carousel-heading{
    @apply text-[#008542]
  }

  .p-carousel{
    @apply text-2xl leading-[27px] lg:leading-[30px] mb-6 max-w-4xl mx-auto
  }
  .p-whats-desktop{
       @apply hidden lg:block ;
  }

  .p-whats-mobile{
       @apply lg:hidden block ;
  }

  .social-icons{
    @apply w-[44px] h-[44px]
  }
  .footer-logo{
   @apply w-[170px] h-auto
  }
  .footer-links{
    @apply text-base text-white hover:text-gray-200 transition
  }
  .lower-footer-links{
    @apply text-xs text-white leading-[21px] uppercase font-bold
  }
  .del-img{
    @apply h-[35px] w-[35px]
  }
  .del-p{
    @apply text-xs text-[#3D3D3D] lg:text-sm italic
  }
  .p-copyright{
    @apply text-sm text-[#FFFFFF] lg:text-white  leading-[25px] 
  }
}

h1,h3, .paycom-btn, .nav-btn{
    font-family: "bebas-neue-pro", sans-serif;
}



body{
    font-family:"Open Sans", sans-serif;
    overflow-x: hidden;
}

.custom-list li {
  position: relative;
  padding-left: 24px; 
}

.custom-list li::before {
  content: url("images/list.png");
  position: absolute;
  top: -1px; 
  left: 0;
  width: 13px;
  height: 13px;
}





.hero-section{
    background-color: #EBEBEB;
}
.heading{
  font-family: "bebas-neue-pro", sans-serif;
}

.border-bottom {
   padding-bottom: 8px;
    position: relative; 
    box-shadow: 
        0 1px 0 0 rgba(0, 0, 0, 0.8),
        0 2px 0 0 rgba(255, 255, 255, 0.8);
}