@import "tailwindcss";

body{
    font-family:"Open Sans", sans-serif;
    overflow-x: hidden;
}
.search-jobs-btn{
    width: 165px;
     height: 49px;
      border-radius: 4px; 
      border: 1px; 
      background-color: #0064C8; 
      font-size: 16px; 
      color: white;
       line-height: 20.8px; 
       font-weight: bold;
       letter-spacing: 1.2px; 
       text-transform: uppercase;
       cursor: pointer;
      font-family: "bebas-neue-pro", sans-serif;
}
.search-jobs-btn:hover{
 background-color: #024c96;
}

.hero-section{
    background-color: #EBEBEB;
}
.heading{
  font-family: "bebas-neue-pro", sans-serif;
}